*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

.SectionHeader {
    text-align: center;
    padding: 2%;
    font-weight: bolder 10px;
}

.creator{
    font-style: italic;
    color: darkgoldenrod;
}

.calculatorSelector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.calculator {
    /* border-color: rgb(red, green, blue); */
    border-width: 10px;
    border-style: ridge;
    border-color: red;
    padding: 4%;                            
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    margin-top: 3%;
}


form {
    display: table;
    margin: 0px auto;
}

form div{
    display: table;
}

form div label{
    display: table-cell;
}

form div input {
    display: table-cell;
    margin-bottom: 5px;
    padding: 2%;
    margin-left: 3%;
    outline: none;
    font-size: 20px;
    width: 90%;
}

.btnDiv {
    display: flex;
    justify-content: center;
    margin-top: 3%
}

.btn {
    background-color: inherit;
    padding: 2%;
    color: #000;
    border-radius: 5px;
}

div.result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
    text-align: centern;
}
